@import '@radix-ui/colors/black-alpha.css'
@import '@radix-ui/colors/violet.css'

.TreeViewContainer
  display: flex
  width: 100%
  height: 100%
  flex-direction: row
  gap: 1rem
  padding-top: 0.5rem
  align-items: center


.CheckboxRoot
  display: flex
  background-color: white
  width: 1.5rem
  height: 1.5rem
  border-radius: 0.5rem
  margin-color: gray
  flex-direction: column
  align-items: center

  &.isChecked
    background-color: green


.TreeViewRoot
  display: flex
  width: 100%
  height: 100%
  flex-direction: column

.CollapsibleContent
  padding-left: 2rem

.icon
  color: white
  size: 2 rem
  stroke-width: 2 rem

.chevronIconContainer
  display: flex
  align-items: center
  visibility: hidden
  color: gray

  &.hasChildren
    visibility: visible
