// Colors
$white: #ffffff;
$green: #017a5f;
$gray: #778ba5;
$black: #000000;
$violet: #800080;
$labelColor: #2b3950;

// spacing
$spacing-unit: 0.5rem;
$spacing-1x: $spacing-unit;
$spacing-2x: $spacing-unit * 2;
$spacing-3x: $spacing-unit * 3;
$spacing-4x: $spacing-unit * 4;